.extras {
  width: 95%;
  max-width: 1600px;
  margin: 29px  auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Monaco';
  border-radius: .4em;
}

@media(min-width: 760px) {
  .extras {
    margin-top: 48px;
  }
}
